<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AntiForensicToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AntiForensicToolkit.Properties.Settings>
            <setting name="TrueCryptPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DMSDevices" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPListener" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UDPListener" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unmount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitToHosts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransmitToBC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouseMax_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseMax_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HTTPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UDPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hosts" serializeAs="String">
                <value />
            </setting>
            <setting name="ACProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USBProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Screensaver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutostartDMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckHosts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteDMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Testing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KillProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessList" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableBluetooth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BTDMSDevices" serializeAs="String">
                <value />
            </setting>
        </AntiForensicToolkit.Properties.Settings>
    </userSettings>
</configuration>